.outer-div {
  padding: 0.5rem;
  overflow: auto;
  color: rgb(197, 200, 198);
  background: rgb(22, 23, 25);
  height: 100%;
  border: none;
}

.inner-div {
  overflow: hidden auto;
  border: 2px solid rgb(255, 215, 177);
  border-radius: 0.25rem;
  padding: 16px;
  height: calc(100vh - 3.5rem)
}

.inner-div::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
  background-color: rgb(255, 215, 177); /* Color de fondo de la barra de desplazamiento */
}

.inner-div::-webkit-scrollbar-thumb {
  background-color: rgb(255, 215, 177); /* Color de la barra de desplazamiento */
  border-radius: 4px; /* Borde redondeado de la barra de desplazamiento */
}

.inner-div::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo de la pista de desplazamiento */
}

body {
  font-weight: 500;
  background-color: rgb(22, 23, 25);
  color: rgb(197, 200, 198);
  margin: 0px;
  height: 98%;
}

* {
  font-family: "Consolas", "Courier New", "Monaco", "Menlo", "Monospace" ;
  font-weight: bolder;
}

html {
  height: 98%;
}

.content-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-div pre {
  margin-top: 3px;
  margin-bottom: 0.5rem;
}

.uno {
  color: rgb(255, 215, 177);
}

.dos {
  color: rgb(224, 224, 224);
}

.tres {
  color: rgb(135, 195, 138);
}

.cuatro {
  color: rgb(224, 224, 224);
}

.firstrow {
  display: flex;
  flex-direction: row; /* Los elementos se apilan de izquierda a derecha */
  align-items: baseline; /* Alinear los elementos en la línea base */
}

.input {
  margin-left: 5px;
}

.output-p {
  margin-bottom: 0.5rem;
  max-width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.customInput {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  caret-color:rgb(255, 215, 177);
  font-weight: 900;
}


.head-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: headAnimation 10s ease-in-out infinite;
}

@keyframes headAnimation {
  0% {
    transform: translate(0%, 0%) rotate(0deg) scale(1);
  }
  12% {
    transform: translate(-100%, 148%) rotate(90deg) scale(1.2);
  }
  25% {
    transform: translate(150%, 100%) rotate(180deg) scale(1);
  }
  37% {
    transform: translate(-220%, -180%) rotate(270deg) scale(0.8);
  }
  50% {
    transform: translate(-150%, -150%) rotate(360deg) scale(1);
  }
  62% {
    transform: translate(230%, 310%) rotate(90deg) scale(1.2);
  }
  75% {
    transform: translate(-150%, 120%) rotate(180deg) scale(1);
  }
  87% {
    transform: translate(200%, -148%) rotate(270deg) scale(0.8);
  }
  100% {
    transform: translate(2000%, -50%) rotate(360deg) scale(1);
  }
}
